div {
    text-align: center;
}

h1{
    font-size: 80px;
    font-family: Impact;
}

button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    border-radius: 7%;
}
 p{
     font-size: 35px;
 }

 button:hover{
     background-color: green;
 }