body{

    background-color: #4d91e2;
}

#wrapper {
    width: 750px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 220px;
}

#btn {
    background-color: #0b4091;
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
    width: 100px;
}